@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('https://fonts.google.com/specimen/Montserrat'); 
}

body {
  text-align: center;
  font-family: 'Montserrat', 'Helvetica';
}

.NavBigMac {
  margin: -5px 0px 0px 10px;
}

.aboutContainer {
  width: 700px;
  text-align: center;
  margin: 100px auto;
}

.bigMacPrices {
  margin-top: 700px;
  padding: 50px;
  background-color: aliceblue;
}